/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --color-main: #000;
  --color-accent: #00CC14;
  --color-text: #00CC14;
  --bg-gradient-main: #000;
  --bg-gradient-start: #007f0c;
  --bg-gradient-end: #004306;
  --wght-cart-title: 785;
  --wght-cart-text: 465;
  --heart-core-color: #000;
  --heart-main-body-color: #000;
  --heart-counter-color: #00CC14;
  --heart-sparks-color: #FF0000;
}

:root.theme-light {
  --color-main: #FFF;
  --color-accent: #000;
  --color-text: #FFF;
  --bg-gradient-main: #d3d3d3;
  --bg-gradient-start: #e7e7e7;
  --bg-gradient-end: #1a1a1a;
  --wght-cart-title: 700;
  --wght-cart-text: 400;
  --heart-core-color: #FFF;
  --heart-main-body-color: #FFF;
  --heart-counter-color: #000;
  --heart-sparks-color: #FF0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #000;
    --color-accent: #00CC14;
    --color-text: #00CC14;
    --bg-gradient-main: #000;
    --bg-gradient-start: #007f0c;
    --bg-gradient-end: #004306;
    --wght-cart-title: 785;
    --wght-cart-text: 465;
    --heart-core-color: #000;
    --heart-main-body-color: #000;
    --heart-counter-color: #00CC14;
    --heart-sparks-color: #FF0000;
  }
}
